@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: "Dana" ;
        src: url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
        /* font-display: swap; */
    }
    @font-face {
        font-family: "Dana Medium" ;
        src: url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Dana DemiBold" ;
        src: url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Light" ;
        src: url("../fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Medium" ;
        src: url("../fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }
    @font-face {
        font-family: "Morabba Bold" ;
        src: url("../fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }

    html::-webkit-scrollbar{
        width: 6px;
    }
    html::-webkit-scrollbar-track{
        background:#7c756f;
    }
    html::-webkit-scrollbar-thumb{
        background:#fdba74;
    }
    html.dark::-webkit-scrollbar-track{
        background:#8e8181;
    }
    html.dark::-webkit-scrollbar-thumb{
        background:#fed7aa;
    }
}

@layer components{

    .circle-landing{
        @apply flex items-center justify-center border-t rounded-full
    }
    .circle-main{
        @apply absolute bottom-0 right-0 left-0 mx-auto translate-y-2/4
    }
    .circle-lg{
        @apply border-white/50 
    }
    .circle-md{
        @apply border-white/80
    }
    .circle-sm{
        @apply border-white
    }


    .footer-designe{
        @apply flex items-center justify-center border-b rounded-full absolute top-0 right-0 left-0 mx-auto translate-y-2/4
    }
    
    .bg-body{
        background: linear-gradient(rgba(243,244,246,0.35),rgba(243,244,246,0.35)) ,url('./images/body-bg.png');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .offer-line::after{
        content: "";
        width: 100%;
        height: 1px;
        inset: 0;
        top: -2px;
        margin: auto;
        position: absolute;
        background-color: #ef4444;
    }
    .banner1{
        background: linear-gradient(270deg,rgba(0,0,0,0.6)33.85%,rgba(243,244,246,0.1)100%) ,url('./images/categories/category-right.jpg');
        background-size: cover;
    }
    .banner2{
        background: linear-gradient(270deg,rgba(0,0,0,0.6)33.85%,rgba(243,244,246,0.1)100%) ,url('./images/categories/category-left.jpg');
        background-size: cover;
    }
    .swiper-button-next::after, .swiper-button-prev::after {
        content: "";
    }
    .swiper-button-next{
        @apply flex justify-center items-center mx-auto w-[30px] h-[30px] md:w-10 md:h-10 absolute left-14 md:left-16 bg-white dark:bg-zinc-600 hover:bg-gray-300 dark:hover:bg-white dark:child-hover:fill-zinc-700  rounded-full duration-500 shadow-lg z-0
    }
    .swiper-button-prev {
        @apply flex justify-center items-center mx-auto w-[30px] h-[30px] md:w-10 md:h-10 absolute right-12 md:right-14 bg-white dark:bg-zinc-600 hover:bg-gray-300 dark:hover:bg-white dark:child-hover:fill-zinc-700 rounded-full duration-500 shadow-lg z-0
    }
    .border-g{
        border-top:1px solid !important;
        border-left: none !important;
        border-right: none !important;
        border-bottom: none !important;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: radial-gradient(circle, rgb(249, 115, 22,0.3) 53%, rgba(0,128,255,0.3) 100%);
    }
    .services{
        position: relative;
    }
    .services::after{
        content: "";
        position: absolute;
        top: 0;
        right: 50%;
        width: 1px;
        height: 100%;
        background:radial-gradient(circle, rgb(249, 115, 22,.3) 53%, rgba(0,128,255,.3) 100%);
    }
    .services::before{
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        height: 1px;
        background:radial-gradient(circle, rgb(250, 118, 23,.3) 53%, rgba(0,128,255,.3) 100%);
    }
    .footer-bg{
        background-image: url('../public/images/image2vector.svg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .footer-border{
        border-bottom:1px solid !important;
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
        border-image-slice: 1;
        border-width: 1px;
        border-image-source: radial-gradient(circle, rgb(249, 115, 22,0.3) 83%, rgba(0,128,255,0.3) 100%); 
    }
    .bb{
        color: #ffffff00;
    }
}